{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Blog Section ======= -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h2>Blog</h2>
                <h3>Check Out Our <span>Blogs</span></h3>
                <p>Health Is Wealth Go Through Our Blogs And Stay Tuned For More.</p>
            </div>
    
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
    
                </div>
            </div>
    
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static '/img/blog1.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>How To Age Gracefully ?</h4>
                        <p> Consume a vitamin-rich diet;
                            hydrate the body, avoid alcohol
                        </p>
    
    
                        <a href="{% static 'Blogs/Economic Times.pdf' %}" target = "_blank" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static '/img/Screenshot (76).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Upwas</h4>
                        <p></p>
    
                        <a href="{% static 'Blogs/Tanu Arora-AHPL-Hindustan-15-09-2017.pdf' %}" target = "_blank" class="details-link"
                            title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static '/img/Screenshot (75).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">    
                        <h4>How To Keep Healthy</h4>
                        <p>Here's how eating according to your
                            blood type could help you keep healthy</p>
                        <a href="{% static 'Blogs/Tanu Arora-AHPL-Here how eating according to your blood type-Health, News - India Today.pdf' %}" target = "_blank"
                            class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static '/img/Screenshot (74).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>My Compiled Coverage</h4>
                        <p>Get Protein From Right Source</p>
                        <a href="{% static 'Blogs/74.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static '/img/Screenshot (73).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Embracing A Balanced Diet</h4>
                        <p>Embracing A Balanced Diet</p>
                        <a href="{% static 'Blogs/73.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{% static '/img/Screenshot (78).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Cold Pressed Juices</h4>
                        <p>All Cold Pressed Juices</p>
                        <a href="{% static 'Blogs/Tanu Arora-AHPL-Cold Pressed Juices.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static '/img/Screenshot (72).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Super Breakfast</h4>
                        <p>What to Have In Breakfast ?</p>
                        <a href="{% static 'Blogs/72.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="{% static '/img/Screenshot (70).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Right Blood Group</h4>
                        <p>The Right Blood Group Diet</p>
                        <a href="{% static 'Blogs/70.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="{% static '/img/Screenshot (71).png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Unhealthy Food During Pregnancy</h4>
                        <p>Unhealthy Food During Pregnancy Adversly Impact Baby</p>
                        <a href="{% static 'Blogs/71.pdf' %}" target = "_blank" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
    
            </div>
    
        </div>
    </section><!-- End Blog Section -->




{% endblock %}



