{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
            <p>If you have any specific questions or want to discuss before
                signing up please fill out the details below and we will
                get in touch with you.</p>
        </div>


        <div class="row" data-aos="fade-up" data-aos-delay="100">


            <div class="col-lg-6 ">
                <div class="col-lg-7 col-md-6">
                    <div class="info-box  mb-10">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>fitnesswithtanu@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form method="POST" role="form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
                            {{ form.name }}
                            <div class="validate"></div>
                        </div>
                        <div class="col form-group">
                            <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" /> -->
                            {{ form.email }}
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
                        {{ form.subject }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <!-- <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea> -->
                        {{ form.text }}
                        <div class="validate"></div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Send Message</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->


{% endblock %}

 