{% extends 'base.html' %}
{% load static %}

{% block content %}




    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
    
            <div class="portfolio-details-container">
    
                <div class="owl-carousel portfolio-details-carousel">
                    <img src="{% static '/img/n1.jpg' %}" class="img-fluid" alt="">
                    <img src="{% static '/img/n3.jpg' %}" class="img-fluid" alt="">
    
                </div>
    
                <div class="portfolio-info">
                    <h3>Fitness With Tanu</h3>
                    <ul>
                        <li><strong>Contact For Workshops</strong></li>
                        <li><strong>Contact:</strong>fitnesswithtanu@gmail.com</li>
    
                    </ul>
                </div>
    
            </div>
    
            <div class="portfolio-description">
                <h2>Workshops</h2>
                <p>
                    This service is for the group or corporate who want to invest in their employees wellness. We have a
                    group discussion and individual discussion format as per our convenience of our client. In group format
                    we enter int quizzes, preferences on certain special content and deep dive to help our clients. All this
                    is done through virtual meeting format ensuring the fun, engagement and lots of learning for our
                    participants.
    
                </p>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->



{% endblock %}



